/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Typography Scale */
:root {
	--base-font: 16px;
	--ratio: 1.25;

	--sm-font: var(--base-font);
	--md-font: calc(var(--sm-font) * var(--ratio));
	--lg-font: calc(var(--md-font) * var(--ratio));
	--xl-font: calc(var(--lg-font) * var(--ratio));
	--xxl-font: calc(var(--xl-font) * var(--ratio));
	--xxxl-font: calc(var(--xxl-font) * var(--ratio));

	--sapphire-blue: hsla(205, 63%, 37%, 1);
	--cornflower-blue: hsla(221, 69%, 68%, 1);
	--lavender-blue: hsla(235, 94%, 86%, 1);
	--xiketic: hsla(257, 21%, 6%, 1);
	--white: whitesmoke;
}

/* Simple CSS Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Typography */
p {
	font-size: var(--sm-font);
	color: var(--white);
	margin-block-end: 0.75em;
	width: clamp(25ch, 80%, 70ch);
}

h1 {
	font-size: var(--xxxl-font);
	line-height: 1.3;
	margin-block-end: 1.5em;
}

h2 {
	font-size: var(--xxl-font);
	line-height: 1.3;
	margin-block-end: 1.5em;
}

h3 {
	font-size: var(--xl-font);
	line-height: 1.3;
	margin-block-end: 1.5em;
}

h4 {
	font-size: var(--lg-font);
	line-height: 1.3;
	margin-block-end: 1.5em;
}

h5,
h6 {
	font-size: var(--md-font);
	line-height: 1.3;
	margin-block-end: 1.5em;
}

/* Body */
body {
	background: var(--white);
	line-height: 1.5;
	font-family: "Poppins", sans-serif;
	height: 100vh;
	width: 100%;
	padding: 1.5rem clamp(1rem, 5%, 3rem);
}

/* Container */
.container {
	--sapphire-blue: hsla(205, 63%, 37%, 0.3);

	background: var(--sapphire-blue);
	width: min(100vw - 5%, 60vw);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: min(1rem, 5%);
	height: 100%;
	display: flex;
	border-radius: 8px;
	position: relative;
}

.container::before {
	z-index: -1;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 10px;
	top: 0;
	background-image: linear-gradient(
		330deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	);
	border-radius: 8px;
	filter: blur(20px);
}

/* Image Container */
.left {
	flex: 1;
	background-image: url("./images/jack-b-uWFUZ1hOgb8-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo {
	--xiketic: hsla(257, 21%, 6%, 0.3);

	background: var(--xiketic);
	color: var(--lavender-blue);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;
}

.logo img {
	width: 100%;
	height: auto;
}

.attribution {
	--lavender-blue: hsla(235, 94%, 86%, 0.3);

	background: var(--lavender-blue);
	padding: 0.5rem clamp(1rem, 5%, 3rem);
	width: 100%;
	text-align: center;
}

.attribution p {
	color: var(--lavender-blue);
	margin-block-end: 0;
}

.attribution a {
	color: var(--bone);
	text-decoration: underline;
}

/* Form Container */
.right {
	background: var(--violet-crayola);
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem clamp(1rem, 5%, 3rem);
}

.right .box {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.right .box.content {
	justify-content: flex-end;
}

form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

input {
	--lavender-blue: hsla(235, 94%, 86%, 0.3);

	border: 1px solid var(--lavender-blue);
	padding: 0.675rem clamp(1rem, 5%, 3rem);
	background: var(--lavender-blue);
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

input:focus-visible {
	outline: 1px solid hsla(205, 63%, 37%, 1);
}

input::placeholder {
	color: var(--white);
	font-size: var(--sm-font);
}

input[type="submit"] {
	background: var(--white);
	padding: 16px 32px;
	border-radius: 16px;
	margin-bottom: 1.5em;
	border: 0;
	outline: 0;
	cursor: pointer;
	box-shadow: 1px 0px 13px -5px oldlace;
	transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
	box-shadow: 1px 0px 13px 0px oldlace;
	transform: scale(1.02);
}

input:disabled {
	opacity: 0.5;
}

input.passwordMatch {
	outline: 1px solid hsla(170, 97%, 40%, 1);
}

input.passwordNotMatch {
	outline: 1px solid hsla(8, 100%, 59%, 1);
}

input.waitingForPass {
	outline: 1px solid hsla(205, 63%, 37%, 1);
}

/* Basic Responsive Type */
@media screen and (max-width: 1024px) {
	:root {
		--ratio: 1.125;
	}
	.container {
		flex-direction: column;
	}

	form {
		grid-template-columns: repeat(1, 1fr);
	}
}
